html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.home{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(music-note1.jpg);
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: px 1000px;
     background-repeat: no-repeat;
     background-attachment: fixed; 
     background-color: rgba(0,0,0, 0.4); 
     height:100%;
     width:100;
     
}
.navbar{
    opacity: .9;
}
.intro{
    background-color:white;
}
.transition{
    background:url(horns.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1600px 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: rgba(0,0,0, 0.4); 
    height:100%;
    width:100%;
    opacity:.8;
}

.collapsebtn {
    border-color:black;
    color: white ;
    border-radius: 0 !important;
    border-style: solid;
    transition: .7s;
    background:black;
    width: 50%;
    height:40px;
  }
  .collapsebtn:hover{
    color:black;
    background-color:white;
    border-color:white;
  }
  .schedhome{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(debby-hudson-TqKFiMR9O6s-unsplash.jpg);
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: px 1000px;
     background-repeat: no-repeat;
     background-attachment: fixed; 
     background-color: rgba(0,0,0, 0.4); 
     height:100%;
     width:100%;
  }

  .recordhome{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(wholeband.jpg);
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size:   px 1000px;
     background-repeat: no-repeat;
     background-attachment: fixed; 
     background-color: rgba(0,0,0, 0.4); 
     height:100%;
     width:100%;
  }